
/* ============ desktop view ============ */
@media all and (min-width: 992px) {
	.dropdown-menu li{ position: relative; 	}
	.nav-item .submenu{ 
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.nav-item .submenu-left{ 
		right:100%; left:auto;
	}
	.dropdown-menu > li:hover{ background-color: #3f3f3f }
	.dropdown-menu > li:hover > .submenu{ display: block; }
}	
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu{
      margin-left:0.7rem; margin-right:0.7rem; margin-bottom: .5rem;
  }
}	
/* ============ small devices .end// ============ */

.md-48 {
	font-size: 48px !important;
  }

.hidden {
	display: none;
}


.displayCharts,.summaryCharts {
	background-color:#3f3f3f;
}

body {
	background-color: white;
	
}

html { font-size: 80.5%; }
.scroll {
	max-height: 100%;
	overflow-y: auto;
}
.modal-tipjar {
    max-width: 600px;
    margin: 2rem auto;
}

.modal-chart {
    max-width: 900px;
	max-height: 600px;
    margin: 2rem auto;
}
/* Loading Ring */
.lds-dual-ring {
	display: inline-block;
	width: 100px;
	height: 100px;
  }
.lds-dual-ring:after {
	content: "";
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	border: 6px solid rgb(0, 0, 0);
	border-color: rgb(0, 0, 0) transparent #fff transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
0% {
	transform: rotate(0deg);
}
100% {
	transform: rotate(360deg);
}
}
  